@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  min-width: 20%;
  margin: 0;
}

body {
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-size: cover;
  color: white;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

header {
  width: 100%;
  height: 10%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 10%;
  margin: 0 20px;
  cursor: pointer;
}

header #language {
  width: 5%;
  margin: 0 20px;
  text-align: center;
}

#language img {
  width: 60%;
  padding: auto;
  cursor: pointer;
}

.timer {
  width: 100%;
  height: 20%;
}

main {
  width: 85%;
  height: 80%;
  margin: auto;
  text-align: center;
}

main button {
  width: 40%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.293);
  border: 1px solid white;
  border-radius: 40px;
  margin: 10px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 26px;
  color: white;
  text-shadow:
    0 0 4px red,
    0 0 5px blue;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

main button:hover {
  background-color: #ff00b38b;
  cursor: pointer;
}

main button:focus {
  border: 4px solid #ff00b3b5;
  outline: none;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

#q-a {
  box-sizing: border-box;
  width: 100%;
  height: 70%;
}

#question {
  width: 100%;
  height: 20%;
  font-size: 40px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#question p {
  vertical-align: middle;
  margin: 10px;
}

#answers {
  width: 100%;
  height: 70%;
  margin: 20px 0;
  background: url(https://media.discordapp.net/attachments/1483060263757287576/1485690174955589672/immagine_box_domande.jpg?ex=69c3710c&is=69c21f8c&hm=13be046e58895d241e30bfe2d0c1565c2433192fd4da3335c44edff1cc91e6ae&=&format=webp&width=1649&height=920);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-size: cover;
  border: 2px solid rgba(255, 255, 255, 0.452);
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

#blur {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.345);
}

#timer {
  width: 100%;
  height: 20%;
}

#bottom-div {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

#nextQuestion {
  width: 10%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 0%;
  margin: 10px;
  font-size: 20px;
  color: white;
}

#nextQuestion:hover {
  background-color: rgba(255, 255, 255, 0.345);
  cursor: pointer;
}

#nextQuestion:active {
  border-color: #00ff00;
  box-shadow: 0px 0px 10px #00ff00;
}

footer {
  width: 100%;
  height: 10%;
}
