@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  size: 100%;
  background-image: url(./bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-size: 16px;
}

header {
  text-align: left;
  margin-top: 4em;
  margin-bottom: 4em;
  margin-left: 4em;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 60px;
  color: white;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  color: white;
}

p {
  color: white;
}

#logo {
  width: 10%;
}

#results-group {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-around;
}

.donut-chart {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: conic-gradient(#00ffff 0% 66.7%, #d21480 66.7% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-container {
  display: flex;
  align-items: center;
  gap: 50px;
  text-align: center;
}

.percentage {
  font-size: 3rem;
  font-weight: bold;
}

.chart-center {
  width: 190px;
  height: 190px;
  background-color: #000835;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-size: 0.8rem;
}

.status-text {
  color: #00ffff;
  font-weight: bold;
  margin: 10px 0;
}

.chart-text-content h3 {
  color: #00ffff;
  margin-bottom: 5px;
}
.chart-text-content p {
  font-size: 0.8rem;
  line-height: 1.4;
}

.cyan-text {
  color: #00ffff !important; /* Ciano brillante */
}

.magenta-text {
  color: #d21480 !important; /* Magenta scuro */
}

/* Stile per il testo descrittivo piccolo al centro */
.small-text {
  font-size: 0.8rem;
  opacity: 0.8;
  margin-top: 5px;
}

button {
  border: 2px solid white;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 0px 0px 2px rgb(245, 243, 243);
  padding: 15px 60px;
  font-size: 20px;
}
