h2 {
  color: white;
}
img {
  margin-left: 2em;
}
@property --percent {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

#title-page {
  margin-bottom: 2em;
  margin-left: 0.6em;
}

#logo {
  width: 10%;
}

#results-group {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Chart Animation */
.donut-chart {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: conic-gradient(
    #d21480 0% var(--percent),
    #00ffff var(--percent) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  transition: --percent 1s ease-out;
}

.chart-center {
  width: 280px;
  height: 280px;
  background-color: #000835;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.result-container {
  display: flex;
  align-items: center;
  gap: 50px;
  text-align: center;
}

.percentage {
  font-size: 32px;
  font-weight: bold;
}

.cyan-text {
  color: #00ffff;
}
.magenta-text {
  color: #d21480;
}

.small-text {
  font-size: 0.8rem;
  opacity: 0.8;
  margin-top: 5px;
}

/* Btn */
button {
  border: 2px solid white;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  padding: 15px 60px;
  font-size: 20px;
  border-radius: 1em;
  transition: 0.3s;
  margin-bottom: 1em;
}

button:active {
  border-color: #00ff00;
  box-shadow: 0px 0px 10px #00ff00;
}

#results-answer {
  display: none;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#results-answer.show-results {
  display: block;
  opacity: 1;
}

#results-answer h3 {
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.results-questions {
  list-style: none;
  padding: 0;
  margin: 0;
}

.results-questions li {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 0.5em;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease;
}
.results-questions li:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, 0.2);
}

.summary-item .question-text {
  margin-bottom: 1em;
}

.results-questions li hr {
  display: none;
}
