body {
  text-align: left;
  margin-left: 2em;
}

p {
  margin-bottom: 2em;
}

h1 {
  margin-bottom: 0.7em;
}

h2 {
  margin-bottom: 0.7em;
}

img {
  width: 10%;
}

ul {
  list-style-type: disc;
  padding-left: 1.5em;
  margin-bottom: 5em;
}

li {
  margin-bottom: 0.2em;
}

button {
  background-color: #00ffff;
  border: none;
  color: #000033;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px #00ffff;
  padding: 15px 40px;
  font-size: 20px;
  margin-left: 10em;
}

/*Segno di spunta (la "V") */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

/*Creiamo la "V" */
input[type="checkbox"]:checked::after {
  content: "✔";
  color: #000033;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked {
  background-color: #00ffff;
}

form {
  display: flex;
  align-items: center;
  text-align: right;
  gap: 0.5em;
  justify-content: flex-start;
}

footer {
  padding: auto 2px;
}

button:active {
  border-color: #00ff00;
  box-shadow: 0px 0px 10px #00ff00;
}
